# auth_service
auth_service/.venv/
auth_service/.env
auth_service/.idea/
auth_service/__pycache__/

# task_management_service
task_management_service/.venv/
task_management_service/.env
task_management_service/.idea/
task_management_service/__pycache__/

# answer and submission management service
answer_submission_management_service/.venv/
answer_submission_management_service/.env
answer_submission_management_service/.idea/
answer_submission_management_service/__pycache__/

# frontend service
frontend/node_modules/
